<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="robots" content="noindex">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="https://animanman.github.io/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ウマ" />
    <meta property="og:description" content="練習用" />
    <meta property="og:site_name" content="ウマ" />
    <meta property="og:image" content="https://animanman.github.io/thumb/a.png" />
    <meta name="twitter:card" content="summary" />
    <title>ウマ</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" href="https://animanman.github.io/favicon.ico">
  </head>
  <body>
    <header>
        
    </header>
<nav class="sidenav nav_left">
<a class="closebtn toggle_sidenav">×</a>
<ul id="nav_urls_app">
<li v-for="nav_link in nav_links" :key="nav_link.title">
<a v-bind:href="`${websites}${link_URL}`">{{ nav_link.title }}</a>
</li>
</ul>
</nav>
    <main>
    <p>テスト</p>

    <ul id="sample">
      <li v-for="column in list" :key="column.item">
        {{ column.item }}
      </li>
    </ul>

<div id="app">
      <p>{{ message }}</p>
    </div>
    </main>
    <fooder>
      
    </fooder>
<script>
let app0 = new Vue({
el:"#sample",
data:{
list:[{item:"hoge"},{item:"fuga"},{item:"hogehoge"}]
}
})

let app1 = new Vue({
el:"#nav_urls_app",
data:{
websites:[nano:"/",forest:"https://plus.fm-p.jp/u/",animanch:"https://bbs.animanch.com/board/"],
nav_links:[
{title:"ナノtop",URL_site:nano,link_URL:"hexhpia3k2/"},
{title:"フォレストtop",URL_site:forest,link_URL:"hexhpia3k2/"},
{title:"プロフィール",URL_site:forest,link_URL:"hexhpia3k2/profile"},
{title:"制作物更新日記",URL_site:forest,link_URL:"hexhpia3k2/diary?sid=16706"},
{title:"制作物一覧",URL_site:nano,link_URL:"hexhpia3k2/page/2/"},
{title:"コメント返信",URL_site:forest,link_URL:"hexhpia3k2/reply"},
{title:"ダイレクトメッセージ",URL_site:forest,link_URL:"hexhpia3k2/dm"},
{title:"あにまんプログラミング始めたい部",URL_site:animanch,link_URL:"799443/"}
]
}
})

</script>

  </body>
</html>
